* {
    margin: 0;
    padding: 0;
    border: 0;
}
.playfair-display{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
  }

a{
 text-decoration: none;
 color: blueviolet;
}